<div>
    <mat-selection-list *ngIf="todos.length; else noTasks" #tasks>
      <mat-list-option *ngFor="let todo of todos; let i = index" (click)="onChange(todo.id)" [selected]="todo.completed">
        <span>
          {{i+1}}. {{todo.title}}
          <button mat-icon-button aria-label="Remove" (click)="remove(todo)">
            <mat-icon>delete_forever</mat-icon>
         </button>
        </span>
      </mat-list-option>
    </mat-selection-list>
    <ng-template #noTasks>
        <p class="text-center">No tasks yet...</p>
    </ng-template>
    <form (ngSubmit)="submit()" [formGroup]="userForm">
        <mat-form-field class="example-full-width">
            <mat-label>Input your task</mat-label>
            <input matInput placeholder="Input your task" type="text" formControlName="title">    
        </mat-form-field>
        <button mat-button
                appearance="outline"
                type="submit"
                [disabled]="userForm.invalid"
        >Add task</button>
    </form>
  </div>
